Repository ansible-community/ansible-docsite, pull requests merged in 2023-09, with the labels that each got.

#91 Homepage hero banner
  conf.py
  data/homepage.yaml
  images/bullito.svg
  images/bullito_welcome.svg
  images/community_logo_black.svg
  images/redhat.svg
  images/welcome_to_ansible.svg
  templates/homepage-ansible-band.tmpl
  templates/homepage-banner-band.tmpl
  templates/homepage-get-started.tmpl
  templates/homepage-platform-band.tmpl
  templates/homepage.tmpl
  themes/ansible-community/assets/images/unsplash.jpg
  themes/ansible-community/sass/_bg-pool.scss
  themes/ansible-community/sass/_clipboard.scss
  themes/ansible-community/sass/_homepage-ansible-band.scss
  themes/ansible-community/sass/_homepage-banner-band.scss
  themes/ansible-community/sass/_homepage-get-started.scss
  themes/ansible-community/sass/_homepage.scss
  themes/ansible-community/sass/_nav-bar.scss
  themes/ansible-community/sass/main.scss
  themes/ansible-community/templates/base.tmpl
Labels: homepage

#93 update platform data
  data/homepage.yaml
Labels: homepage

#105 Add the contribute section from the wireframe
  data/homepage.yaml
  templates/homepage-contribute-band.tmpl
  templates/homepage.tmpl
  themes/ansible-community/assets/images/conversation.svg
  themes/ansible-community/sass/_homepage-contribute-band.scss
  themes/ansible-community/sass/main.scss
Labels: homepage

#104 Add the community section from the wireframe
  data/homepage.yaml
  templates/format.html
  templates/homepage-community-band.tmpl
  templates/homepage.tmpl
  themes/ansible-community/sass/_homepage-community-band.scss
  themes/ansible-community/sass/_homepage-ecosystem-band.scss
  themes/ansible-community/sass/_homepage-learn-more-button.scss
  themes/ansible-community/sass/main.scss
  themes/ansible-community/templates/base_helper.tmpl
Labels: homepage

#109 Improve contribute section layout
  data/homepage.yaml
  templates/homepage-contribute-band.tmpl
  themes/ansible-community/sass/_homepage-contribute-band.scss
Labels: homepage

#110 Move ecosystem icons
  data/homepage.yaml
  images/logo-awx.svg
  images/logo-builder.svg
  images/logo-eda.svg
  images/logo-runner.svg
  templates/homepage-ecosystem-band.tmpl
Labels: homepage

#111 Fix svg warnings for no width / height
  images/ansible_logo_outline.svg
  images/bullito.svg
  images/community_logo.svg
  images/community_logo_black.svg
  images/logo-awx.svg
  images/logo-builder.svg
  images/logo-eda.svg
  images/logo-runner.svg
  images/platform.svg
  images/redhat.svg
  images/redhat_reversed.svg
Labels: homepage

#112 Adds the tabbed menu from the wireframe
  data/homepage.yaml
  templates/homepage-automate-band.tmpl
  templates/homepage-blog-band.tmpl
  templates/homepage-community-band.tmpl
  templates/homepage-contribute-band.tmpl
  templates/homepage-ecosystem-band.tmpl
  templates/homepage-events-band.tmpl
  templates/homepage-platform-band.tmpl
  templates/homepage-tab-menu-band.tmpl
  templates/homepage.tmpl
  themes/ansible-community/sass/_homepage-tab-menu-band.scss
  themes/ansible-community/sass/main.scss
Labels: homepage

#114 Update platform band
  data/homepage.yaml
  templates/homepage-platform-band.tmpl
  themes/ansible-community/sass/_homepage-platform-band.scss
Labels: homepage

#122 Make some updates to the homepage fa icons and other bits
  data/homepage.yaml
  templates/homepage-back-to-top.tmpl
  templates/homepage-banner-band.tmpl
  templates/homepage-blog-band.tmpl
  templates/homepage-contribute-band.tmpl
  templates/homepage-ecosystem-band.tmpl
  templates/homepage-events-band.tmpl
  templates/homepage-get-started.tmpl
  templates/homepage-tab-menu-band.tmpl
Labels: homepage

#126 Remove events from nav bar
  conf.py
Labels: homepage

#127 Combine bullhorn with the community band
  templates/homepage-community-band.tmpl
  templates/homepage.tmpl
Labels: homepage

#119 Create hero container and load background image via css
  templates/homepage-banner-band.tmpl
  templates/homepage.tmpl
  themes/ansible-community/sass/_bg-pool.scss
  themes/ansible-community/sass/_hero-container.scss
  themes/ansible-community/sass/_homepage-automate-band.scss
  themes/ansible-community/sass/_homepage-back-to-top.scss
  themes/ansible-community/sass/_homepage-banner-band.scss
  themes/ansible-community/sass/_homepage-blog-band.scss
  themes/ansible-community/sass/_homepage-bullhorn-band.scss
  themes/ansible-community/sass/_homepage-community-band.scss
  themes/ansible-community/sass/_homepage-contribute-band.scss
  themes/ansible-community/sass/_homepage-ecosystem-band.scss
  themes/ansible-community/sass/_homepage-events-band.scss
  themes/ansible-community/sass/_homepage-platform-band.scss
  themes/ansible-community/sass/_homepage-tab-menu-band.scss
  themes/ansible-community/sass/_homepage.scss
  themes/ansible-community/sass/main.scss
  themes/ansible-community/templates/base.tmpl
  themes/ansible-community/templates/base_nav.tmpl
Labels: homepage

#130 Edits to homepage banner scss
  templates/homepage-banner-band.tmpl
  themes/ansible-community/sass/_hero-container.scss
  themes/ansible-community/sass/_homepage-banner-band.scss
  themes/ansible-community/sass/_homepage-get-started.scss
Labels: homepage

#131 Contribute band design
  data/homepage.yaml
  images/bull-builder.svg
  templates/homepage-contribute-band.tmpl
  themes/ansible-community/sass/_homepage-contribute-band.scss
Labels: homepage

#135 Create homepage container class
  templates/homepage.tmpl
  themes/ansible-community/sass/_homepage-container.scss
  themes/ansible-community/sass/main.scss
  themes/ansible-community/templates/base.tmpl
Labels: homepage

#139 Css fixes for platform band
  themes/ansible-community/sass/_grid-wrapper.scss
  themes/ansible-community/sass/_homepage-platform-band.scss
Labels: homepage

#147 Use bootstrap for secondary page navbar
  themes/ansible-community/sass/_hero-container.scss
  themes/ansible-community/templates/base_nav.tmpl
Labels: homepage

#148 Adjust background colours and padding
  templates/homepage-community-band.tmpl
  templates/homepage-events-band.tmpl
  templates/homepage-platform-band.tmpl
  templates/homepage.tmpl
  themes/ansible-community/sass/_colors.scss
  themes/ansible-community/sass/_homepage-automate-band.scss
  themes/ansible-community/sass/_homepage-back-to-top.scss
  themes/ansible-community/sass/_homepage-blog-band.scss
  themes/ansible-community/sass/_homepage-community-band.scss
  themes/ansible-community/sass/_homepage-contribute-band.scss
  themes/ansible-community/sass/_homepage-ecosystem-band.scss
  themes/ansible-community/sass/_homepage-events-band.scss
  themes/ansible-community/sass/_homepage-platform-band.scss
  themes/ansible-community/sass/_homepage-section-title.scss
Labels: homepage

#149 Improve pip install button on the homepage banner
  templates/homepage-banner-band.tmpl
  themes/ansible-community/sass/_homepage-banner-band.scss
  themes/ansible-community/sass/_homepage-get-started.scss
Labels: homepage

#152 Six column ecosystem
  data/homepage.yaml
  templates/homepage-automate-band.tmpl
  templates/homepage-back-to-top.tmpl
  templates/homepage-blog-band.tmpl
  templates/homepage-community-band.tmpl
  templates/homepage-contribute-band.tmpl
  templates/homepage-ecosystem-band.tmpl
  themes/ansible-community/sass/_homepage-back-to-top.scss
  themes/ansible-community/sass/_homepage-ecosystem-band.scss
Labels: homepage

#170 Create homepage container
  templates/homepage-automate-band.tmpl
  templates/homepage-blog-band.tmpl
  templates/homepage-bullhorn-band.tmpl
  templates/homepage-community-band.tmpl
  templates/homepage-contribute-band.tmpl
  templates/homepage-ecosystem-band.tmpl
  templates/homepage-events-band.tmpl
  templates/homepage-platform-band.tmpl
  templates/homepage-tab-menu-band.tmpl
  templates/homepage.tmpl
  themes/ansible-community/sass/_hero-container.scss
  themes/ansible-community/sass/_homepage-automate-band.scss
  themes/ansible-community/sass/_homepage-blog-band.scss
  themes/ansible-community/sass/_homepage-body-spacer.scss
  themes/ansible-community/sass/_homepage-body.scss
  themes/ansible-community/sass/_homepage-bullhorn-band.scss
  themes/ansible-community/sass/_homepage-community-band.scss
  themes/ansible-community/sass/_homepage-container.scss
  themes/ansible-community/sass/_homepage-contribute-band.scss
  themes/ansible-community/sass/_homepage-ecosystem-band.scss
  themes/ansible-community/sass/_homepage-events-band.scss
  themes/ansible-community/sass/_homepage-platform-band.scss
  themes/ansible-community/sass/_homepage-tab-menu-band.scss
  themes/ansible-community/sass/main.scss
  themes/ansible-community/templates/base.tmpl
Labels: homepage

#154 Add alt, width, height to every img element
  data/homepage.yaml
  templates/homepage-automate-band.tmpl
  templates/homepage-banner-band.tmpl
  templates/homepage-blog-band.tmpl
  templates/homepage-bullhorn-band.tmpl
  templates/homepage-community-band.tmpl
  templates/homepage-contribute-band.tmpl
  templates/homepage-ecosystem-band.tmpl
  templates/homepage-events-band.tmpl
  templates/homepage-platform-band.tmpl
  templates/homepage-tab-menu-band.tmpl
  themes/ansible-community/sass/_homepage-banner-band.scss
  themes/ansible-community/sass/_homepage-bullhorn-band.scss
  themes/ansible-community/sass/_homepage-contribute-band.scss
  themes/ansible-community/sass/_homepage-platform-band.scss
  themes/ansible-community/sass/redhat-footer.scss
  themes/ansible-community/templates/base_footer.tmpl
  themes/ansible-community/templates/base_nav.tmpl
Labels: accessibility, ci

#155 Resolve some minor html issues
  templates/homepage-banner-band.tmpl
  templates/homepage-bullhorn-band.tmpl
  templates/homepage-tab-menu-band.tmpl
  themes/ansible-community/templates/base.tmpl
  themes/ansible-community/templates/base_helper.tmpl
Labels: accessibility, ci

#153 Template linter and formatter
  .github/workflows/ci.yml
  .github/workflows/reusable-djlint.yml
  README.md
  noxfile.py
  pyproject.toml
  templates/book.tmpl
  templates/homepage-automate-band.tmpl
  templates/homepage-banner-band.tmpl
  templates/homepage-blog-band.tmpl
  templates/homepage-blogs.tmpl
  templates/homepage-bullhorn-band.tmpl
  templates/homepage-community-band.tmpl
  templates/homepage-contribute-band.tmpl
  templates/homepage-ecosystem-band.tmpl
  templates/homepage-events-band.tmpl
  templates/homepage-get-started.tmpl
  templates/homepage-platform-band.tmpl
  templates/homepage-tab-menu-band.tmpl
  themes/ansible-community/templates/base.tmpl
  themes/ansible-community/templates/base_footer.tmpl
  themes/ansible-community/templates/base_helper.tmpl
  themes/ansible-community/templates/base_nav.tmpl
  themes/ansible-community/templates/base_nav_button.tmpl
Labels: accessibility, ci

#150 Check for spelling and wording issues
  .github/workflows/ci.yml
  .github/workflows/reusable-spell-check.yml
  README.md
  noxfile.py
  pyproject.toml
Labels: ci

#171 Build with nox
  README.md
  noxfile.py
Labels: nikola build

#172 Design feedback on homepage
  data/homepage.yaml
  templates/homepage-contribute-band.tmpl
  templates/homepage-events-band.tmpl
  templates/homepage.tmpl
  themes/ansible-community/sass/_homepage-bullhorn-band.scss
  themes/ansible-community/sass/_homepage-contribute-band.scss
Labels: ux design, homepage

#174 Design feedback on padding for sections and ecosystem
  themes/ansible-community/sass/_homepage-body-spacer.scss
  themes/ansible-community/sass/_homepage-ecosystem-band.scss
Labels: ux design, homepage

#183 Fix alternate background colours
  themes/ansible-community/sass/_homepage-blog-band.scss
  themes/ansible-community/sass/_homepage-contribute-band.scss
Labels: ux design, homepage

#167 Design feedback on images
  images/bullhorn_subscribe.png
  images/bullhorn_subscribe.svg
  images/bullito.svg
  images/bullito_welcome.svg
  images/welcome_to_ansible.svg
  pyproject.toml
  templates/homepage-bullhorn-band.tmpl
  themes/ansible-community/assets/images/unsplash-original.jpg
  themes/ansible-community/assets/images/unsplash.jpg
  themes/ansible-community/assets/images/unsplash.svg
  themes/ansible-community/sass/_colors.scss
  themes/ansible-community/sass/_hero-container.scss
Labels: ux design, homepage

#168 Design feedback on fonts and banner
  data/homepage.yaml
  templates/homepage-banner-band.tmpl
  templates/homepage-blog-band.tmpl
  templates/homepage-ecosystem-band.tmpl
  templates/homepage-events-band.tmpl
  templates/homepage-get-started.tmpl
  themes/ansible-community/assets/js/clipboard.js
  themes/ansible-community/sass/_font-awesome.scss
  themes/ansible-community/sass/_homepage-automate-band.scss
  themes/ansible-community/sass/_homepage-banner-band.scss
  themes/ansible-community/sass/_homepage-blog-band.scss
  themes/ansible-community/sass/_homepage-events-band.scss
  themes/ansible-community/sass/_homepage-section-title.scss
  themes/ansible-community/sass/main.scss
  themes/ansible-community/templates/base_nav_button.tmpl
Labels: ux design, homepage

#165 Design feedback on blogs
  conf.py
  themes/ansible-community/sass/_homepage-blog-band.scss
Labels: ux design, homepage

#169 Design feedback on icons and colors
  data/homepage.yaml
  templates/homepage-community-band.tmpl
  themes/ansible-community/assets/images/automation-cyan.svg
  themes/ansible-community/assets/images/blog-cyan.svg
  themes/ansible-community/assets/images/calendar-cyan.svg
  themes/ansible-community/assets/images/cloud-automation-cyan.svg
  themes/ansible-community/assets/images/collaboration-cyan.svg
  themes/ansible-community/assets/images/communities-cyan.svg
  themes/ansible-community/assets/images/community-cyan.svg
  themes/ansible-community/assets/images/conversation-cyan.svg
  themes/ansible-community/assets/images/extensible-cyan.svg
  themes/ansible-community/assets/images/open-source-cyan.svg
  themes/ansible-community/assets/images/orchestration-cyan.svg
  themes/ansible-community/sass/_homepage-bullhorn-band.scss
  themes/ansible-community/sass/_homepage-community-band.scss
Labels: ux design, homepage

#184 Responsive design updates
  .gitignore
  data/homepage.yaml
  images/bull-builder.svg
  images/bullhorn_subscribe.svg
  templates/homepage-automate-band.tmpl
  templates/homepage-blog-band.tmpl
  templates/homepage-community-band.tmpl
  templates/homepage-contribute-band.tmpl
  templates/homepage-ecosystem-band.tmpl
  templates/homepage-events-band.tmpl
  templates/homepage-tab-menu-band.tmpl
  themes/ansible-community/sass/_grid-wrapper.scss
  themes/ansible-community/sass/_hero-container.scss
  themes/ansible-community/sass/_homepage-automate-band.scss
  themes/ansible-community/sass/_homepage-banner-band.scss
  themes/ansible-community/sass/_homepage-blog-band.scss
  themes/ansible-community/sass/_homepage-body-spacer.scss
  themes/ansible-community/sass/_homepage-body.scss
  themes/ansible-community/sass/_homepage-bullhorn-band.scss
  themes/ansible-community/sass/_homepage-community-band.scss
  themes/ansible-community/sass/_homepage-container.scss
  themes/ansible-community/sass/_homepage-contribute-band.scss
  themes/ansible-community/sass/_homepage-ecosystem-band.scss
  themes/ansible-community/sass/_homepage-events-band.scss
  themes/ansible-community/sass/_homepage-platform-band.scss
  themes/ansible-community/sass/_homepage-section-title.scss
  themes/ansible-community/sass/_homepage-tab-menu-band.scss
  themes/ansible-community/sass/redhat-footer.scss
  themes/ansible-community/templates/base_footer.tmpl
Labels: homepage

#202 Font sizes in rem
  themes/ansible-community/sass/_fonts.scss
  themes/ansible-community/sass/_get-started-nav.scss
  themes/ansible-community/sass/_hero-container.scss
  themes/ansible-community/sass/_homepage-automate-band.scss
  themes/ansible-community/sass/_homepage-back-to-top.scss
  themes/ansible-community/sass/_homepage-banner-band.scss
  themes/ansible-community/sass/_homepage-blog-band.scss
  themes/ansible-community/sass/_homepage-community-band.scss
  themes/ansible-community/sass/_homepage-contribute-band.scss
  themes/ansible-community/sass/_homepage-ecosystem-band.scss
  themes/ansible-community/sass/_homepage-events-band.scss
  themes/ansible-community/sass/_homepage-get-started.scss
  themes/ansible-community/sass/_homepage-platform-band.scss
  themes/ansible-community/sass/_homepage-section-title.scss
  themes/ansible-community/sass/_homepage-tab-menu-band.scss
  themes/ansible-community/sass/_nav-bar.scss
  themes/ansible-community/sass/main.scss
  themes/ansible-community/sass/redhat-footer.scss
Labels: ux design, homepage

#198 Bullhorn input field
  data/homepage.yaml
  images/bullhorn_subscribe.svg
  templates/homepage-bullhorn-band.tmpl
  themes/ansible-community/sass/_homepage-bullhorn-band.scss
Labels: ux design, homepage

#207 Secondary masthead
  templates/homepage-automate-band.tmpl
  templates/homepage-blog-band.tmpl
  templates/homepage-bullhorn-band.tmpl
  templates/homepage-community-band.tmpl
  templates/homepage-contribute-band.tmpl
  templates/homepage-ecosystem-band.tmpl
  templates/homepage-events-band.tmpl
  templates/homepage-platform-band.tmpl
  templates/homepage-tab-menu-band.tmpl
  themes/ansible-community/sass/_global-container.scss
  themes/ansible-community/sass/_hero-container.scss
  themes/ansible-community/sass/_homepage-body.scss
  themes/ansible-community/sass/_homepage-container.scss
  themes/ansible-community/sass/_masthead.scss
  themes/ansible-community/sass/_nav-bar.scss
  themes/ansible-community/sass/main.scss
  themes/ansible-community/templates/base.tmpl
  themes/ansible-community/templates/base_nav.tmpl
Labels: homepage

#209 Ecosystem band changes for issue #182
  templates/homepage-ecosystem-band.tmpl
  themes/ansible-community/sass/_homepage-ecosystem-band.scss
Labels: ux design, homepage, hackAthon 2

#211 Change the way spacing works in the menu band
  themes/ansible-community/sass/_homepage-tab-menu-band.scss
Labels: ux design, homepage, hackAthon 2

#210 Events graphics
  data/homepage.yaml
  images/community-day-berlin-2023.png
  images/contributor-summit-durham-2023.png
  images/events/ansible-community-day.svg
  images/events/ansible-contributor-summit.svg
  images/events/ansible-meetup.svg
  images/events/nerdearla-detailed-no-bg.svg
  templates/homepage-events-band.tmpl
  themes/ansible-community/sass/_homepage-events-band.scss
Labels: homepage, graphics

#212 Remove button titles
  templates/homepage-banner-band.tmpl
  templates/homepage-get-started.tmpl
Labels: accessibility, homepage

#214 navbar dropdown
  conf.py
  themes/ansible-community/sass/_hero-container.scss
  themes/ansible-community/sass/_masthead.scss
  themes/ansible-community/sass/_nav-bar.scss
Labels: ux design, homepage
